/* =============== Importing fonts =============== */
@font-face {
    font-family: "montserrat-regular";
    src: url(../../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat-semibold";
    src: url(../../fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat-medium";
    src: url(../../fonts/montserrat/Montserrat-Medium.ttf);
}

/* =============== Setting animations =============== */
@keyframes hide-hover {
    0%   { opacity: 1; }
    100% { opacity: 0; display: none; }
}

@keyframes show-hover {
    0%   { opacity: 0; display:none; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* =============== Setting styles =============== */
.home {
    background-color: #F8F8F8;
    padding-bottom: 40px;
    /* Added for compability with header positioning */
    padding-top: 40px;
}

/* ======= Header styling ======= */
.header {
    background-color: #51A9FF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .40);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.header__text {
    display: inline-block;
    font-size: 24px;
    font-family: "montserrat-regular";
    color: #FFFFFF;
    padding-left: 96px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

/* ======= Specific cards styling ======= */
.intro-card {
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 40px 20px;
    max-width: 80%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .35);
    border-radius: 5px;
}

.intro-card__title {
    color: #51A9FF;
    font-size: 44px;
    font-family: "montserrat-semibold";
    margin: auto;
    text-align: center;
}

.intro-card__subtitle {
    color: #7F8082;
    font-size: 28px;
    font-family: "montserrat-semibold";
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
}

.home-map-card {
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 80%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .35);
    border-radius: 5px;
}

/* ======= Generic Card styling ======= */
.collapsable-card {
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 80%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .35);
    border-radius: 5px;
}

.card-title {
    color: #51A9FF;
    font-size: 16px;
    font-family: "montserrat-semibold";
    padding: 16px 40px;
}

.collapsable-card__card-title {
    color: #51A9FF;
    font-size: 16px;
    font-family: "montserrat-semibold";
    padding: 16px 40px;
    border-bottom-color: rgb(190, 190, 190);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* @override */
.accordion__heading:hover {
    background-color: #ddd;
}

/* @override */
.accordion__button:focus {
    outline: 0;
}

/* ======= Map styling ======= */
.map-image-wrapper {
    position: relative;
}

.map-image {
    width: 100%;
    /* height: auto; */
    height: 520px;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: fadein 0.35s ease-in;
}

.map-image__hover {
    background-color: rgba(30, 30, 30, 0.66);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: show-hover 0.5s 1 normal forwards;
}

.map-image__hover__text {
    color: #F9F9F9;
    font-size: 32px;
    font-family: "montserrat-semibold";
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.map-image-wrapper:hover .map-image__hover {
    animation: hide-hover 0.5s 1 normal forwards;
}

/* ======= Device Name card styling ======= */
.dev-name-card {
    /*position: relative;*/
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 16px 40px;
    max-width: 80%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .35);
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.dev-name-card__device-name-text {
    color: #51A9FF;
    font-family: "montserrat-semibold";
    font-size: 16px;
    /*display: inline-block;*/
    flex: 1 1 auto;
}

.dev-name-card__device-name {
    display: inline-block;
    color: #7F8082;
    font-size: 16px;
    font-family: "montserrat-semibold";
    flex: 1 1 auto;
    text-align: right;
}

/* ======= Table styling ======= */
.table-wrapper {
    overflow-x: auto;
}

/*
.table-header {
}

.table-body {
}
*/

.table-row {
    display: flex;
}

.table-cell {
    flex: 0 0 216px;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(228, 227, 227);
}

.table-header-cell {
    color: #7F8082;
    font-size: 14px;
    font-family: "montserrat-semibold";
    text-align: center;
}

.table-body-cell {
    color: #90969C;
    font-size: 14px;
    font-family: "montserrat-medium";
    text-align: center;
}

/* ======= Date Picker styling ======= */
.date-picker-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
}

.date-picker-container {
    padding-left: 32px;
    padding-right: 0px;
    flex: 1 1 auto;
    max-width: 220px;
}

.date-picker-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 2px solid #7F8082;
    max-width: 200px;
    transition: all 0.5s;
}

.date-picker-input:hover {
    border-bottom: 2px solid #51A9FF;
}

.date-picker-input:hover .calendar {
    fill: #51A9FF;
}

.date-picker-input:hover .date-picker {
    color: #51A9FF;
}

.date-picker-input:focus-within .calendar {
    fill: #51A9FF;
}

.date-picker-input:focus-within {
    border-bottom: 2px solid #51A9FF;
}

.calendar {
    flex: 1 1 auto;
    width: 14px;
    height: 14px;
    max-width: 14px;
    fill: #7F8082;
    transition: all 0.5s;
    margin-left: 4px;
}

.calendar:hover {
    fill: #51A9FF;
}

.date-picker-title {
    font-family: "montserrat-semibold";
    color: #7F8082;
    font-size: 12px;
    margin-bottom: 8px;
}

.date-picker {
    border-width: 0px;
    font-family: "montserrat-medium";
    color: #7F8082;
    font-size: 12px;
    padding-left: 8px;
    transition: all 0.5s;
    max-width: 104px;
    cursor: pointer;
}

.date-picker:focus {
    outline: 0;
    color: #51A9FF;
}

.react-datepicker {
    border-width: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .35);
}

/* @override */
.react-datepicker__month-container {
    font-family: "montserrat-regular";
    font-size: 12px;
}

/* @override */
.react-datepicker__header {
    background-color: #51A9FF;
}

/* @override */
.react-datepicker__current-month {
    color: #FFFFFF;
}

/* @override */
.react-datepicker__day-name {
    color: #FFFFFF;
}

/* @override */
.react-datepicker__day--selected {
    background-color: #51A9FF;
}

/* @override */
.react-datepicker__triangle {
    display: none;
}

/* @override */
.react-datepicker__navigation--previous {
    border-right-color: rgb(228, 227, 227);
}

/* @override */
.react-datepicker__navigation--previous:hover  {
    border-right-color: #FFFFFF;
}

/* @override */
.react-datepicker__navigation--next {
    border-left-color: rgb(228, 227, 227);
}

/* @override */
.react-datepicker__navigation--next:hover {
    border-left-color: #FFFFFF;
}

/* ======== Data Plot styling ========= */
.data-plot-wrapper {
    margin: 12px 32px;
    padding-bottom: 10px;
    background-color: #E4F3FF;
}

.data-plot-types {
    padding: 16px 20px;
    display: flex;
    flex-flow: row wrap;
}

.plot-type {
    flex: 1 1 auto;
    flex-direction: row;
    font-family: "montserrat-semibold";
    font-size: 12px;
    color: #90969C;
    padding: 8px 16px;
    max-width: 160px;
    text-align: center;
}

.plot-selected {
    color: #51A9FF;
    border-bottom: 2px solid #51A9FF;
    color: #51A9FF;
}

.data-plot-container {
    margin: 4px 16px;
    background-color: #FFFFFF;
}

.plot-chart {
    width: 100%;
}

.plot-card {
    padding-bottom: 20px;
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 600px) {

    .header__text {
        font-size: 20px;
        padding-left: 48px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .intro-card {
        margin-top: 64px;
    }

    .intro-card__title {
        font-size: 32px;
    }
    
    .intro-card__subtitle {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .home-map-card {
        margin-top: 64px;
    }

    .collapsable-card {
        margin-top: 64px;
    }

    .card-title {
        padding-left: 24px;
    }

    .collapsable-card__card-title {
        padding-left: 24px;
    }

    .map-image__hover__text {
        font-size: 20px;
    }

    .map-image {
        height: 320px;
    }

    .dev-name-card {
        margin-top: 64px;
        padding: 16px 20px;
    }

    .table-body-cell {
        font-size: 12px;
    }

    .table-cell {
        flex: 0 0 120px;
    }

    .date-picker-container {
        margin-bottom: 24px;
        padding-left: 8px;
        padding-right: 8px;
    }
}